.nav-container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #131418;
  align-items: stretch;
  height: 50px;
  width: 100%;
  font-weight: 500;
}

.right-section, .left-section {
  display: flex;
}

.right-section {
  margin-right: 30px;
}

.left-section {
  margin-left: 30px;
}

.right-section > a, .left-section > a {
  text-decoration: none;
  padding-left: .5rem;
  padding-right: .5rem;
  color: #c7ecee;
  
  display: flex;

  transition: all .2s;
}

.right-section > a:hover, .left-section > a:hover {
  color: #fff;
  text-shadow: 0 0 12px #c7eceea9, 0 0 2px #000;
  transform: scaleX(1.1);
}