#home {
  height: 100vh;
  
}

.home-all {
  padding: 40px 20px;

  background: rgba(0, 0, 0, 0.4);
  background-image: url('/images/pc.jpg');
  
  background-size: cover;
  min-height: 400px;

  /* padding: 20% 20%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-name{
  /* background-color: red; */
  font-size: 3.6rem;
  font-weight: 700;
  padding-left: 10px;
  color: #c7ecee;

  animation-name: glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #c7eceea9, 0 0 1px #000;
  }
  100% {
    text-shadow: 0 0 20px #c7eceea9, 0 0 1px #000;
  }
}

.home-intro {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: .4rem;

  /* border-left: 5px solid #c7ecee; */
  padding-left: 10px;

  margin-top: 30px;

  animation-name: intro;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes intro {
  0% {
    transform: translate(0, 7px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.home-intro {
  color: #c7ecee;
  text-shadow: 0 0 10px #c7eceea9, 0 0 5px #000;
}