#home {
  background-color: #130f40;

  /* margin-top: 50px; */
  height: 400px;

  display: flex;
}

#home {
  /* height: 400px; */
  height: 100vh;
}

.home-left {
  /* background-color: lightblue; */
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  padding-left: 80px;
}

.home-right {
  /* background-color: lightpink; */
  flex: 1;
  align-items: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-right img {
  /* background-color: red; */
  /* width: 400px; */
  width: 30rem;
  min-width: 200px;

  border-radius: 50%;
  object-fit: contain;
}

.home-name{
  /* background-color: red; */
  font-size: 3.5rem;
  font-weight: 700;
  padding-left: 10px;
}

.home-intro {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: .4rem;

  /* border-left: 5px solid #c7ecee; */
  padding-left: 10px;

  margin-top: 2rem;

  animation-name: intro;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  font-family: 'Press Start 2P' !important;
}

@keyframes intro {
  0% {
    transform: translate(0, 7px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.home-name {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #c7ecee; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
    typing 3.5s,
    blink-caret .5s step-end;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.home-intro, .home-name {
  color: #c7ecee;
  text-shadow: 0 0 10px #c7eceea9, 0 0 5px #000;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 93% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  /* from, to { border-color: transparent } */
  /* 50% { border-color: orange; } */
}